In [ ]:
import pandas as pd
from functions import create_user_features

pd.set_option('display.max_columns', None)

# Preprocessed original file without scaling 
DATA_PATH = "data/new_user.csv"

In [4]:
df = pd.read_csv(DATA_PATH)
df.head(3)

,Age,Gender,Weight (kg),Height (m),BMI,Workout_Frequency (days/week),Daily meals frequency,diet_type,Experience_Level,Goal,WeightChange (kg),GoalDays
0,34,Male,130.0,2.05,30.933968,3,3,Keto,Intermediate,Loss,5.0,30

In [ ]:
df = create_user_features(df)
df.head(3)

,Age,Gender,Weight (kg),Height (m),BMI,Workout_Frequency (days/week),Daily meals frequency,diet_type,Experience_Level,Goal,WeightChange (kg),GoalDays,BMR,PAL,TDEE,CalorieChange,CaloriesToBurnTraining,CaloriesReducedFromFood,CaloriesPerDay,TotalWorkouts,CaloriesPerWorkout
0,34,Male,130.0,2.05,30.933968,3,3,Keto,Intermediate,Loss,5.0,30,2416.25,1.725,4168.03125,38500.0,19250.0,19250.0,3526.364583,12.857143,1497.222222

In [6]:
df.to_csv('data/new_user.csv', index=False)